*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    max-width: 1440px;
    scroll-behavior: smooth;
    
}
:root{
    /* primary color */
    --Moderate-blue: hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);
    /* natural-color */
    --Dark-blue: hsl(212, 24%, 26%);
    --Grayish-Blue: hsl(211, 10%, 45%);
    --Light-gray: hsl(223, 19%, 93%);
    --Very-light-gray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}

/* all flex container */
.username-wrapper, .scores-wrapper, .reply-wrapper, .reply,
.add-comment-inner, .scores-wrapper-in-reply {
    display: flex;
    align-items: center;
}

.main {
    padding: 2em 1em 1em;
    background-color: var(--Very-light-gray);
}
.main-inner {
    margin: 1em 0;
    background-color: inherit;
}
.comment-section, .comment-section-reply {
    background-color: var(--White);
    margin: 1.3em 0 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 1em;
}

.comment-section-reply {
    margin: 1.1em 0 1.3em;
}
.scores-wrapper {
    gap: 1.2em;
}
.username-wrapper{
    gap: .8em;
}
.username {
    font-size: 20px;
    font-weight: 500;
    color: var(--Dark-blue);
}

.user-img {
    width: 50px;
}
.created, .content, .date {
    font-size: 20px;
    color: var(--Grayish-Blue);
    font-weight: 400;
}

.content {
    line-height: 150%;
    font-size: 17px;
}
.scores,  .reply, .scores-wrapper-in-reply > .scores-in-replies {
    font-weight: 700;
    font-size: 20px;
    color: var(--Moderate-blue);
}
.reply-wrapper > .reply-in-replies {
    display: flex;
    gap: .5em;
    color: var(--Moderate-blue);
}
.scores-wrapper-in-reply > .scores-in-replies {
    padding: 0;
}
.reply {
    margin: 0 0 0 auto;
    text-transform: capitalize;
    gap: .5em;
}
.reply-to {
    font-weight: 700;
    font-size: 20px;
    color: var(--Moderate-blue);
}
.reply-to span {
    font-weight: 400;
    font-size: 17px;
    color: var(--Grayish-Blue);
}
.replies-container {
    padding-left: 1em;
    border-left: 2px solid var(--Light-gray);
}

.you {
    font-weight: 500;
    font-size: .8rem;
    background-color: var(--Moderate-blue);
    color: var(--White);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: .3em .4em;
}
.date {
    font-size: 16px;
    font-weight: 500;
}

.scores-wrapper, .scores-wrapper-in-reply {
    padding: 12px 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background-color: var(--Very-light-gray);
}
.scores-wrapper-in-reply {
    gap: 1.2em;
    padding: 12px 15px;
}
.reply-names-wrapper{
    gap: .7em;
}
.reply-username {
    font-size: 18px;
}
.edit-wrapper {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    gap: 1.2em;
}
.edit-wrapper p {
    display: flex;
    gap: .3em;
    font-weight: 700;
    font-size: 17px;
    text-transform: capitalize;
}
.edit-wrapper p img {
    width: 20px;
    height: 18px;
}
.edit-wrapper .del-btn {
    color: var(--Soft-Red);
}
.edit-wrapper .edit-btn {
    color: var(--Moderate-blue);
}
.reply-section, .send-comment-wrapper, .reply-section-inner {
    background-color: var(--White);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    
}
.reply-comment{
    margin-top: .5em;
}

.reply-section{
    padding: 1em;
    margin-top: 1.3em;
}
.open {
    -webkit-animation: open .4s ease 0s 1 normal forwards;
    animation: open .4s ease 0s 1 normal forwards;
    
}
.open-new-comment {
    -webkit-animation: slideIn .4s ease 0s 1 normal forwards;
    animation: slideIn .4s ease 0s 1 normal forwards;
}
@keyframes slideIn {
	0% {
        -webkit-transform: translateY(25px);
		-moz-transform: translateY(25px);
		-ms-transform: translateY(25px);
		-o-transform: translateY(25px);
		transform: translateY(25px);
		opacity: 0;
}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.reply-section-inner {
    margin-top: .8em;
    padding: 1em;
   
}
@keyframes open {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-25px);
		-moz-transform: translateY(-25px);
		-ms-transform: translateY(-25px);
		-o-transform: translateY(-25px);
		transform: translateY(-25px);
    }

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.send-comment-wrapper {
    padding: 1em 1.5em 1.5em;
    margin-top: .8em;
}
.send-comment-wrapper span, 
.reply-section span, 
.reply-section-inner span {
    display: block;
    padding-bottom: .4em;
    color: var(--Grayish-Blue);
}
textarea {
    width: 100%;
    height: 100px;
    max-height: auto;
    resize: none;
    padding: .8em;
    font-size: 18px;
    color: var(--Dark-blue);
    outline: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: 1.5px solid var(--Light-gray);
}
.edit-textarea {
    height: 120px;
}
.edit-reply-inner {
    margin: .8em 0 .4em;
}
.edit-reply-inner span {
    font-size: .978em;
    color: var(--Grayish-Blue);
    font-weight: 500;
}
.add-comment-inner {
    padding-top: 1em;
}
.add-comment-inner img {
    width: 40px;
}
.add-comment-inner button, .update-btn{
    display: flex;
    margin: 0 0 0 auto;
    padding: 12px 16px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    background-color: var(--Moderate-blue);
    color: var(--White);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-transform: uppercase;
}

button.reply-btn {
   padding: 8px 12px;
}


 



